{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "color-hex-length": "long",
    "selector-class-pattern": null,
    "declaration-block-no-redundant-longhand-properties": true
  }
}
