[Unit]
Description=Inventory stack
Requires=inventory.service inventory.socket
After=inventory.service
AllowIsolate=yes

[Install]
WantedBy=multi-user.target
