# MySQL / MariaDB client and server options
[client]
port = 3306
socket = /var/run/mysqld/mysqld.sock
default-character-set = utf8mb4

[mysqld]
user = mysql
port = 3306
bind-address = 127.0.0.1
max_connections = 200
innodb_buffer_pool_size = 1G
skip-name-resolve

[mysqldump]
quick
max_allowed_packet = 64M
