<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Production" />
    <add key="MaxUploadMB" value="32" />
  </appSettings>
  <connectionStrings>
    <add name="Inventory" connectionString="Server=db;Database=inventory;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
</configuration>
